*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* General Stuff */
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}

/* Header */

header{
    background-color: #c3c9d598;
    font-weight: 700;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    align-items: center;
    align-content: center;
    position: sticky;
    z-index: 2;
    top: 14px;
    backdrop-filter: blur(10px);
}
div.categories a{
    padding: 1rem;
}
div.categories a:hover:not(a:first-child){
    background-color: black;
    color: white;
    text-decoration: underline;
}
div.account{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
}
header .categories img{
    width: 25px;
    display: none;
}
.logo{
    font-size: 25px;
}
/* End of Header */



@media screen and (max-width:700px) {
    header .categories a:not(a:first-child){
        display: none;
    }
    header .categories img{
        width: 25px;
        display: block;
    }
}