@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


/* General Stuff */
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}

/* Header */

header{
    background-color: #c3c9d598;
    font-weight: 700;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    align-items: center;
    align-content: center;
    position: sticky;
    z-index: 2;
    top: 14px;
    backdrop-filter: blur(10px);
}
div.categories a{
    padding: 1rem;
}
div.categories a:hover:not(#burger){
    background-color: black;
    color: white;
    text-decoration: underline;
}
div.account{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 1rem;
}
header .categories #burger{
    width: 25px;
    display: none;
}
header .categories img{
    width: 25px;
}
.logo{
    padding-left: 1rem;
    font-size: 25px;
}
.logo a{
    font-family: 'Architects Daughter', cursive;

}
.categories{
    position: relative;
}

img#contact{
    width: 25px;
    display: none;
}
/* End of Header */
/* main */
main{
    padding: 1.5rem;
}
section.all-info{
    background-color: #f9f9f9;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
}
div.product-info{
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    /* width: 50ch; */
    padding: 2rem;
}
div.product-info span, div.product-info p:first-of-type{
    font-weight: 800;
}
div.product-info span{
    justify-self: center;
}
div.product-info select{
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    justify-self: center;
}
div.product-info .buttons{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 2rem;
}
div.product-info a{
    border: 1px solid white;
    padding: 1rem 0.5rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(53, 48, 48);
}
div.product-info a:hover{
    background-color: black;
    color: white;
}
/* End of Product */
/* Reviews */
.reviews{
    text-align: center;
    display: grid;
}
.reviews img{
    width: 20px;
}
.reviews button{
    margin: 1rem 0.5rem;
    padding: 0.5rem 0.5rem;
}
.name,.title,.details ,.stars{
    text-align: left;
    margin-top: 1rem;
}
.name{
    font-size: 12px;
}
.title{
    font-weight: 700;
}
.details{
    font-size: 15px;
}
.single-reviews{
    border-bottom: 1px solid gray;
    padding: 2rem;
}

/* End of Main */
/* Footer */
footer img{
    width: 30px;;
}
footer{
    display: grid;
    background-color: #1d1b1c;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width:700px) {
    header .categories a:not(#burger){
        /* display: none; */
        font-size: 0px;

    }
    header .categories #burger{
        width: 25px;
        display: block;
        padding-left: 0rem;
    }
    header .categories .links-category{
        height: 0px;
        width: 0px;
    }
    div.categories a{
        padding: 0;
    }
    header .categories #burger:focus + .links-category{
        display: grid;
        position: absolute;
        left: -0.45rem;
        top: 3rem;
        transition-duration: 1s;
        width: 100px;
        height: 100px;
        background-color: white;
    }
    header .categories #burger:focus + .links-category a{
        display: block;
        transition-duration: 1s;
        font-size: initial;
        padding: 1rem;
        outline: 1px solid #e5e5e5;
        background-color: #c3c9d598;
    }
    header .categories #burger:focus + .links-category a:hover{

        background-color: black;
    }

}
@media screen and (max-width:530px) {
    img#contact{
        display: block;
    }
    header div.account a:first-child{
        display: none;
    }
}