*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* General Stuff */
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}

/* Header */

header{
    background-color: #c3c9d598;
    font-weight: 700;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    align-items: center;
    align-content: center;
    position: sticky;
    z-index: 2;
    top: 14px;
    backdrop-filter: blur(10px);
}
div.categories a{
    padding: 1rem;
}
div.categories a:hover:not(a:first-child){
    background-color: black;
    color: white;
    text-decoration: underline;
}
div.account{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
}
header .categories img{
    width: 25px;
    display: none;
}
.logo{
    font-size: 25px;
}
.categories a{

}

/* End of Header */
/* Main */
main section.banner{
    text-align: center;
    display: grid;
    justify-content: end;
    align-content: start;
    height: 600px;
    color: white;
    background-image: url(main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
}
main section.banner a{
    color: white;
}
main section.banner div.banner-text{
    width: 309px;
margin: 1rem;
display: grid;
gap: 1rem;
padding: 1rem;   
background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 0 2px 2px gray;
}
.banner-links{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.banner-links a{
    padding: 1rem 1rem;
    border: 1px solid white;
    background-color: black;
}
.banner-links a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
/* End of banner */
/* Rating Section */
div.ratings{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background-color: #f9f9f9;
}
div.ratings p{
    font-size: 30px;
    font-weight: 600;
}
div.ratings .stars img{
    width: 20px;
}
span.rate-nr{
    font-size: 40px;
    font-weight: 900;
}
div.all-ratings{
    text-align: center;
}
div.product-nr{
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
}
div.product-nr span:first-child{
    font-size: 40px;
    font-weight: 900;
}

/* End of Rating Section */
/* Best selling */

section.best-selling{
    background-color: #fff;
    text-align: center;
}
.best-selling div.best-products{
    display: grid;
    padding: 2rem;
    gap: 3rem;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(200px ,300px));
}
section.best-selling h2{
    padding: 1rem;
}
.best-selling div.best-products .product{
    border: 2px solid gray;
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    height: 400px;
}

.best-selling div.best-products .product p{
    font-weight: 900;
    align-content: center;
}
.best-selling div.best-products .product p img{
    width: 30px;
}

/* End of Best Selling Products */

/* About us */

section.about-us{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.about-us div.about-info{
    background-color: #1d1b1c;
    color: white;
    display: grid;
    height: 430px;
    place-content: center;
    
}
.about-us div.about-info div{
    max-width: 50ch;
    display: grid;
    gap: 1rem;
}
.about-us div.about-info div h2{
    font-size: 30px;
}
.about-us div.about-img{
    height: 430px;
}
.about-us div.about-img img{
    height: 100%;
}
/* End of Abut us */
/* For Men/Women */
section.for{
    display: grid;
    margin-top: 1rem;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    
}

section.for div.men{
    background-image: url('for-men.jpg');
    justify-content: center;
    align-content: flex-end;
    display: grid;
    background-position: center;
    background-size: cover;
    margin: 2rem;
    height: 400px;
}
section.for div.women{
    background-image: url(for-women.jpg);
    justify-content: center;
    align-content: flex-end;
    background-position: center;
    background-size: cover;
    margin: 2rem;
    display: grid;
    height: 400px;
}
section.for a{
    background-color: rgba(15, 13, 8, 0.932);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin-bottom: 1rem;
    border: 1px solid white;

}

section.for a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
/* End of for Men/Women */
/* Occasion */
section.occasion{
    background-image: url(every-occasion.jpg);
    background-position: center;
    background-size: cover;
    opacity: 90%;
    height: 500px;
    display: grid;
    place-content: center;
}
div.occasion-text{
    background-color: rgba(245, 245, 245, 0.884);
    padding: 1rem 2rem;
    font-size: 25px;
}

/* End of Occasion */
/* Footer */
footer img{
    width: 30px;
}
footer{
    display: grid;
    background-color: #1d1b1c;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width:700px) {
    header .categories a:not(a:first-child){
        display: none;
    }
    header .categories img{
        width: 25px;
        display: block;
    }
}